/* Header Font */
@import url("https://fonts.googleapis.com/css2?family=Exo&family=IBM+Plex+Sans+Condensed:wght@100&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 0.25rem;
    height: 20px;
  }

  .scrollbar:hover::-webkit-scrollbar {
    width: 0.25rem;
    height: 20px;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vh;
  }

  .scrollbar:hover::-webkit-scrollbar-thumb:hover {
    background: #bdbdbd;
  }
}
